@charset 'utf-8';

$navbar-padding-y: 20px;

.nuxt-link-exact-active {
    color: #41bb83 !important;
  }

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}

body {
    padding-top: 50px;
}